<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	 <!-- action -->
	 <bean name="loginAction" class="com.actions.LoginAction">
	 	<property name="loginService" ref="loginService"></property>
	 </bean>
	 <bean name="treeAction" class="com.common.TreeAction">
	 	<property name="treeService" ref="treeService"></property>
	 </bean>
	 <bean name="orgAction" class="com.actions.OrgAction">
	 	<property name="orgService" ref="orgService"></property>
	 </bean>
	 
	 <!-- service -->
	 <bean id="loginService" class="com.services.LoginService">
	 	<property name="loginDao" ref="loginDao"></property>
	 </bean>
	 <bean id="treeService" class="com.common.TreeService">
	 	<property name="treeDao" ref="treeDao"></property>
	 </bean>
	 <bean id="orgService" class="com.services.OrgService">
	 	<property name="orgDao" ref="orgDao"></property>
	 </bean>
	 <!-- dao -->
    <bean id="loginDao" class="com.daos.LoginDao">  
        <property name="sqlMapClient" ref="sqlMapClient"></property> 
    </bean>
    <bean id="treeDao" class="com.common.TreeDao">  
        <property name="sqlMapClient" ref="sqlMapClient"></property> 
    </bean>
    <bean id="orgDao" class="com.daos.OrgDao">  
        <property name="sqlMapClient" ref="sqlMapClient"></property> 
    </bean>
    
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">  
        <property name="configLocation" value="/WEB-INF/SqlMapConfig.xml" />  
        <property name="dataSource" ref="dataSource" />  
    </bean>
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/js</value>
		</property>
	</bean>
</beans>
